<div class="box-shadow sidenav fLeft">
    <div class="box-content">
        <div class="sidenav-content">
            <div>
                <h4>
                    @Html.ActionLink("计算机图书", "Computer", "Books")
                </h4>
            </div>
            <div>
                <h4>
                    @Html.ActionLink("经济管理图书", "Manage", "Books")
                </h4>
            </div>
            <div>
                <h4>
                    @Html.ActionLink("工业技术图书", "Industry", "Books")
                </h4>
            </div>
            <div>
                <h4>
                    @Html.ActionLink("心理哲学图书", "Psychology", "Books")
                </h4>
            </div>
            <div>
                <h4>
                    @Html.ActionLink("数字阅读", "Digital", "Books")
                </h4>
            </div>
            <div>
                <h4>
                    @Html.ActionLink("教材", "Textbook", "Books")
                </h4>
            </div>

            @*<div>
            <h4>
                <a href="#">机械工业出版社</a>
            </h4>
        </div>
        <div>
            <h4>
                <a href="#">文学小说</a>
            </h4>*@
        </div>
    </div>
</div>
