@model Mvc5FuLuA.Areas.LX01.Models.UserInfo
@Scripts.Render("~/bundles/jqueryvalidate")
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<h2 style="color:palevioletred; text-align:center; font-family:'Times New Roman', Times, serif">注册</h2>
<br />
@using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "mainWindow" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="margin-left:25%">
        @Html.ValidationSummary(true, "", new { @style = "color:red" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPwd, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <input class="checkbox-inline" type="checkbox"> remember me
            </label>
            <label style="color:green; text-decoration:underline" class="col-sm-5 control-label">forget you?</label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3" style="margin-left:30%">
                <input class="btn btn-success" id="btn1" type="submit" value="提交" />
            </div>
        </div>
    </div>
}
<pre>
@ViewBag.Result
</pre>





